.btn {
    background: #4379ee;
    border-radius: 8px;
    text-transform: none;
    font-size: 18px;
    line-height: 27px;
      width: 250px;
  }
  .container {
      padding-top: 5px;
  }
  .title {
      padding: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }
  