<div class="card">
  <div class="card-body">
    <div class="d-flex flex-wrap">
      <div class="">
        <h5 class="card-title">
          <i class="bi bi-person-circle"></i>
          Chăm sóc khách hàng
        </h5>
      </div>

      <div class="d-flex flex-row-reverse card-function flex-grow-1">
        <div>
          <button type="button" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Thêm mới
          </button>
          &nbsp;
          <button type="button" class="btn btn-success">
            <i class="bi bi-pencil"></i> Chỉnh sửa
          </button>
          &nbsp;
          <button type="button" class="btn btn-warning">
            <i class="bi bi-printer"></i> In danh sách
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex flex-row flex-grow-1">
        <input type="date" class="form-control" placeholder="Từ ngày" /> &nbsp;
        <input type="date" class="form-control" placeholder="Đến ngày" />
      </div>

      <div class="d-flex flex-row flex-grow-3 p-l-2">
        <div class="input-group search-box">
          <input
            type="text"
            class="form-control"
            placeholder="Nhập từ khóa tìm kiếm"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
          <span class="input-group-text"><i class="bi bi-filter"></i></span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row pt-2">
      <div class="flex-grow-1" style="height: 600px; border: 1px solid #D7D7D7;">
        <table class="table " id="table-user">
          <thead>
            <tr>
              <th scope="col">Khách hàng</th>
              <th scope="col" width = 150px>Số điện thoại</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-primary">Công ty khách sạn xanh</td>
              <td class="text-primary">0698453634</td>
            </tr>
            <tr>
              <td>Chú Ngọc</td>
              <td>0238456234</td>
            </tr>
            <tr>
              <td>Khu đô thị Thị Trấn</td>
              <td>0346366234</td>
            </tr>
            <tr>
              <td>Chú Sáu Điều</td>
              <td>0698456474</td>
            </tr>
            <tr>
              <td>Công ty xây dựng Ba Vì</td>
              <td>0698456789</td>
            </tr>
            <tr>
              <td>Công giáo Đà Sơn</td>
              <td>069845466</td>
            </tr>
            <tr>
              <td>Thúy Danh</td>
              <td>0698456234</td>
            </tr>
            <tr>
              <td>Công ty xây dựng KV3</td>
              <td>0698456234</td>
            </tr>
            <tr>
              <td>Công ty KV4</td>
              <td>0698456234</td>
            </tr>
            <tr>
              <td>Công ty Dân Trí</td>
              <td>0698456234</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex-grow-3" style="height: 600px; border: 1px solid #D7D7D7;">
        <table class="table table-hover" id="table-user">
          <thead>
            <tr>
              <th scope="col" class="align-center" width = 50px>STT</th>
              <th scope="col" class="align-center" width = 150px>Ngày thực hiện</th>
              <th scope="col" width = 200px>Khách hàng</th>
              <th scope="col" class="align-center" width = 100px>Mã đơn hàng</th>
              <th scope="col" style="max-width: 400px; !important">Nội dung chăm sóc</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-center">1</td>
              <td class="align-center">19/06/2023 12:45</td>
              <td>Công ty khách sạn xanh</td>
              <td class="align-center text-primary">2023060110</td>
              <td>
                Khách hàng đánh giá tốt dịch vụ
              </td>
            </tr>
            <tr>
              <td class="align-center">2</td>
              <td class="align-center">19/06/2023 13:45</td>
              <td>Công ty khách sạn xanh</td>
              <td class="align-center text-primary">2023060111</td>
              <td>
                Bê tông không đảm bảo
              </td>
            </tr>
            <tr>
              <td class="align-center">3</td>
              <td class="align-center">19/06/2023 13:45</td>
              <td>Công ty khách sạn xanh</td>
              <td class="align-center text-primary">2023060112</td>
              <td>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget 
              </td>
            </tr>

            <tr>
              <td class="align-center">4</td>
              <td class="align-center">19/06/2023 23:45</td>
              <td>Công ty khách sạn xanh</td>
              <td class="align-center text-primary">2023060113</td>
              <td>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneanla ebus et magnis dis parturient montes
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
