<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex border-bottom  flex-wrap">
                        <div class="">
                            <h5 class="card-title">
                                <i class="bi bi-journal-text"></i>
                                Chi tiết đơn hàng 100023
                            </h5>
                        </div>
            
                        <div class="d-flex flex-row-reverse card-function flex-grow-1">
                            <div>
                                <button type="button" class="btn btn-primary">
                                    <i class="bi bi-arrow-bar-left"></i> Quay lại
                                </button>

                                <button type="button" class="btn btn-info">
                                    <i class="bi bi-pen"></i> Chỉnh sửa
                                </button>

                                <button type="button" class="btn btn-success">
                                    <i class="bi bi-check-circle"></i> Xác nhận
                                </button>
            
                                <button type="button" class="btn btn-info">
                                    <i class="bi bi-truck"></i> Đổi phương tiện
                                </button>

                                <button type="button" class="btn btn-warning">
                                    <i class="bi bi-dash-circle"></i> Từ chối
                                </button>
            
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash"></i> Hủy đơn
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-hover" id="table-user" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th scope="col" class="align-center">STT</th>
                                <th scope="col" class="align-center">Mã hàng hóa</th>
                                <th scope="col" style="width: 40%">Tên hàng hóa</th>
                                <th scope="col" class="align-center">Đơn vị tính</th>
                                <th scope="col" class="align-right">Lượng đặt</th>
                                <th scope="col" class="align-right">Lượng xác nhận</th>
                                <th scope="col" class="align-right">Số lượng bao</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-center">1</td>
                                <td class="align-center">xxxxxxxx</td>
                                <td>Mặt hàng 1</td>
                                <td class="align-center">Kg</td>
                                <td class="align-right">1.456</td>
                                <td class="align-right">1.456</td>
                                <td class="align-right">10 bao</td>
                            </tr>
        
                            <tr>
                                <td class="align-center">2</td>
                                <td class="align-center">xxxxxxxx</td>
                                <td>Mặt hàng 2</td>
                                <td class="align-center">Kg</td>
                                <td class="align-right">14.456</td>
                                <td class="align-right">15.456</td>
                                <td class="align-right">100 bao</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="card-title border-bottom">
                        <i class="bi bi-chat-dots"></i>
                        Thông tin trao đổi
                    </h5>
                    
                    <div class="quill-editor-default ql-container ql-snow"><div class="ql-editor" data-gramm="false" contenteditable="true"><p>Hello World!</p><p>This is Quill <strong>default</strong> editor</p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1"></div><div class="ql-tooltip ql-hidden"><a class="ql-preview" rel="noopener noreferrer" target="_blank" href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div></div>
                
                    <h5 class="card-title border-bottom">
                        <i class="bi bi-clock-history"></i>
                        Lịch sử đơn hàng
                    </h5>
                    <div class="dashboard ">
                        <div class="activity" style="font-size: 13px;">

                            <div class="activity-item d-flex">
                              <div class="activite-label">21/05/2023 10:30 &nbsp;&nbsp;</div>
                              <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                              <div class="activity-content">
                                Hàng được xuất kho
                              </div>
                            </div><!-- End activity item-->
            
                            <div class="activity-item d-flex">
                              <div class="activite-label">21/05/2023 10:20 &nbsp;&nbsp;</div>
                              <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                              <div class="activity-content">
                                Phương tiện cân lần 1
                              </div>
                            </div><!-- End activity item-->
            
                            <div class="activity-item d-flex">
                              <div class="activite-label">21/05/2023 10:00 &nbsp;&nbsp;</div>
                              <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                              <div class="activity-content">
                                Phương tiện vào cổng
                              </div>
                            </div><!-- End activity item-->
            
                            <div class="activity-item d-flex">
                              <div class="activite-label">20/05/2023 16:20 &nbsp;&nbsp;</div>
                              <i class="bi bi-circle-fill activity-badge text-info align-self-start"></i>
                              <div class="activity-content">
                                Xác nhận đơn hàng
                              </div>
                            </div><!-- End activity item-->
            
                            <div class="activity-item d-flex">
                              <div class="activite-label">20/05/2023 10:24 &nbsp;&nbsp;</div>
                              <i class="bi bi-circle-fill activity-badge text-warning align-self-start"></i>
                              <div class="activity-content">
                                Gửi đơn hàng
                              </div>
                            </div><!-- End activity item-->
            
                            <div class="activity-item d-flex">
                              <div class="activite-label">20/05/2023 10:23 &nbsp;&nbsp;</div>
                              <i class="bi bi-circle-fill activity-badge text-muted align-self-start"></i>
                              <div class="activity-content">
                                Tạo đơn hàng
                              </div>
                            </div><!-- End activity item-->
            
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <div class="card-body" style="height: 1000px;">
                    <h5 class="card-title border-bottom " style="padding-bottom: 23px;">
                        <i class="bi bi-journal-text"></i>
                        Thông tin đơn hàng
                    </h5>

                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <i class="bi bi-code-slash"></i>&nbsp;
                                    <b>Mã đơn hàng</b>
                                </td>
                                <td class="align-right">
                                    100023
                                </td>
                            </tr>
    
                            <tr>
                                <td>
                                    <i class="bi bi-file-earmark-person"></i>&nbsp;
                                    <b>Khách hàng</b>
                                </td>
                                <td class="align-right">
                                    Công ty xuất nhập khẩu ABC
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-calendar-check"></i>&nbsp;
                                    <b>Ngày đặt hàng</b>
                                </td>
                                <td class="align-right">
                                    xx/xx/xxxx
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-calendar-check"></i>&nbsp;
                                    <b>Ngày lấy hàng</b>
                                </td>
                                <td class="align-right">
                                    xx/xx/xxxx
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-truck"></i>&nbsp;
                                    <b>Phương tiện</b>
                                </td>
                                <td class="align-right">
                                    37C12345
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-person-circle"></i>&nbsp;
                                    <b>Lái xe</b>
                                </td>
                                <td class="align-right">
                                    Trần Đức Thắng
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-list-check"></i>&nbsp;
                                    <b>Trạng thái</b>
                                </td>
                                <td class="align-right">
                                    <span class="badge bg-warning font-12 p-b-6">Chờ xác nhận</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-file-earmark-medical"></i>&nbsp;
                                    <b>Ghi chú</b>
                                </td>
                                <td class="align-right">
                                    Lấy hàng có date mới nhất
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-person"></i>&nbsp;
                                    <b>Người tạo</b>
                                </td>
                                <td class="align-right">
                                    loctx
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="bi bi-calendar-check"></i>&nbsp;
                                    <b>Ngày tạo đơn</b>
                                </td>
                                <td class="align-right">
                                    xx/xx/xxxx xx:xx
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

