<form (ngSubmit)="createOrganize()">
    <div class="card">
        <div class="card-header">TẠO MỚI CẤU TRÚC TỔ CHỨC</div>
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <button type="submit" class="btn btn-success"><i
                            class="bi bi-check2-all"></i> Tạo mới</button>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-6">
                    <label class="form-label">Mã đơn vị</label>
                    <input type="text" class="form-control" name="COMPANY_CODE" [(ngModel)]="itemCreate.COMPANY_CODE">
                </div>
                <div class="col-6">
                    <label class="form-label">Tên đơn vị</label>
                    <input type="text" class="form-control" name="NAME" [(ngModel)]="itemCreate.NAME">
                </div>
                <div class="col-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="EMAIL" [(ngModel)]="itemCreate.EMAIL">
                </div>
                <div class="col-6">
                    <label class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" name="PHONE" [(ngModel)]="itemCreate.PHONE">
                </div>
                <div class="col-6">
                    <label class="form-label">Username EGAS</label>
                    <input type="text" class="form-control" name="USER_EGAS" [(ngModel)]="itemCreate.USER_EGAS">
                </div>
                <div class="col-6">
                    <label class="form-label">Password EGAS</label>
                    <input type="password" class="form-control" name="PASS_EGAS" [(ngModel)]="itemCreate.PASS_EGAS">
                </div>
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="IS_CANH_BAO_GAN_NGAN" [(ngModel)]="itemCreate.IS_CANH_BAO_GAN_NGAN">
                        <label class="form-check-label"> Cảnh báo lúc gán ngăn hầm hàng</label>
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label">Lượng cảnh báo khi gán ngăn hầm hàng</label>
                    <input type="number" class="form-control" name="LUONG_CANH_BAO" [(ngModel)]="itemCreate.LUONG_CANH_BAO">
                </div>
                <div class="col-6">
                    <label class="form-label">Lượng tồn kho tối thiểu</label>
                    <input type="number" class="form-control" name="LUONG_TON_KHO_MIN" [(ngModel)]="itemCreate.LUONG_TON_KHO_MIN">
                </div>
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="IS_SEND_TO_SAP_IMMEDIATE" [(ngModel)]="itemCreate.IS_SEND_TO_SAP_IMMEDIATE">
                        <label class="form-check-label"> Áp dụng quy trình gửi đơn hàng thẳng lên SAP, không qua bước
                            gán ngăn hầm hàng</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="IS_DCNB_BEFORE" [(ngModel)]="itemCreate.IS_DCNB_BEFORE">
                        <label class="form-check-label"> Công ty tuyến sau - Di chuyển nội bộ ngành</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="IS_DCNB_AFTER" [(ngModel)]="itemCreate.IS_DCNB_AFTER">
                        <label class="form-check-label"> Công ty tuyến trước - Di chuyển nội bộ ngành</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

