<div class="card" style="height: calc(100vh - 50px); width: 1000px;">
  <div class="card-body">
      <div class="d-flex-wrap d-gap d-space-bw border-bottom pt-3">
          <div class="card-title mb-2 p-0">
              <i class="bi bi-plus-lg"></i>
              Tạo mới phiếu trộn
          </div>
          <div class="d-flex-wrap d-gap">
              <div class="mb-3">
                  <button type="button" class="btn btn-primary">
                      <i class="bi bi-check2-all"></i> Lưu thông tin
                  </button>
                  &nbsp;
              </div>
              <div class="mb-3">
                  <button type="button" class="btn btn-warning" (click)="close();">
                      <i class="bi bi-x-circle"></i> Đóng
                  </button>
              </div>
          </div>
      </div>
      <div class="mt-3">
          <div style="color: #012970;">
            <i class="bi bi-journal-text"></i> &nbsp;Thông tin đơn hàng
          </div>
      </div>
  </div>
</div>