<div class="card" style="height: calc(100vh - 50px)">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card-title">
                    <i class="bi bi-journal-text"></i>
                    Danh sách đơn vị tính
                </div>
            </div>

            <div class="col-md-8 col-xs-12 d-flex flex-row-reverse card-function">
                <div>
                    <button type="button" class="btn btn-success" (click)="onOpenDrawer()">
                        <i class="bi bi-plus-lg"></i> Thêm mới
                    </button>
                </div>
                <div>
                    <div class="input-group search-box">
                        <input type="text" class="form-control" [(ngModel)]="filter.KeyWord"
                            placeholder="Nhập từ khóa tìm kiếm" />
                        <span (click)="loadInit()" class="input-group-text"><i class="bi bi-search"></i></span>
                        <span (click)="loadInit(1, true)" class="input-group-text"><i
                                class="bi bi-arrow-clockwise"></i></span>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover table-click-row border-top" id="table-user">
            <thead>
                <tr>
                    <th scope="col" class="align-center" width=100px>STT</th>
                    <th scope="col" class="" width=150px>Mã đơn vị tính</th>
                    <th scope="col" class="">Tên đơn vị tính</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listUnit, index as i" (click)="onOpenDrawer(item)">
                    <td class="align-center">{{i + 1}}</td>
                    <td class="">{{item.Code}}</td>
                    <td class="">{{item.Name}}</td>
                </tr>
            </tbody>
        </table>
        <div class="float-end">
            <app-pagination [pageSize]="filter.PageSize" [totalPage]="filter.TotalPage" [(page)]="filter.CurrentPage"
                (pageChange)="onChangePage($event)"></app-pagination>
        </div>
    </div>
</div>

<!-- drawer -->
<app-drawer [formGroup]="unitForm" [edit]="edit" [openDrawer]="openDrawer" (onEdit)="onEdit()" (onCreate)="onCreate()"
    (onClose)="onCloseDrawer()" [title]="titleDrawer">
    <div class="mb-3">
        <label for="inputText" class="col-form-label">Mã đơn vị<span class="text-danger ms-1">*</span></label>
        <div>
            <input [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" type="text" class="form-control"
                formControlName="code">
            <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
                <div *ngIf="f['code']['errors']['required']">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="col-form-label">Tên đơn vị<span class="text-danger ms-1">*</span></label>
        <div>
            <input [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" type="text" class="form-control"
                formControlName="name">
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name']['errors']['required']">Không được để trống</div>
            </div>
        </div>
    </div>
</app-drawer>