.account-name {
  font-size: 14px;
  font-style: normal;
  margin-right: 10px;
  text-transform: none;
  font-weight: 400;
  cursor: pointer;
}

.account-name:hover {
  color: #4880ff;
}

#navbarDropdownMenuLink {
  font-size: 14px;
}

.dropdown-item:hover {
  background: #4880ff;
}

.logo-vnpt {
  padding-left: 30px;
  padding-right: 45px;
}

img {
  max-width: none !important;
}

.navbar-toggler-xl {
  cursor: pointer;
}

@media only screen and (max-width: "991px") {
  .navbar-toggler-xl {
    display: none;
  }
}