<nav aria-label="Page navigation example" *ngIf="totalPage > 1">
    <ul class="pagination">
        <li (click)="decreasePage()" class="page-item" [ngClass]="page === 1 ? 'disabled' : ''">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li (click)="goToPage(pageNumber)" *ngFor="let pageNumber of getPageNumbers(), index as i" class="page-item"
            [ngClass]="i == page - 1 ? 'active' : ''">
            <div class="page-link">{{pageNumber}}</div>
        </li>
        <li (click)="increasePage()" class="page-item" [ngClass]="page === totalPage ? 'disabled' : ''">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</nav>