<div class="card" style="height: calc(100vh - 50px)">
  <div class="card-body">
      <div class="d-flex-wrap d-gap d-space-bw border-bottom pt-3">
          <div class="card-title mb-2 p-0">
              <i class="bi bi-plus-lg"></i>
              Chỉnh sửa loại đơn hàng
          </div>
          <div class="d-flex-wrap d-gap">
              <div class="mb-3">
                  <button (click)="onEdit()" type="button" class="btn btn-primary">
                      <i class="bi bi-check2-all"></i> Lưu thông tin
                  </button>
                  &nbsp;
              </div>
              <div class="mb-3">
                  <button type="button" (click)="close()" class="btn btn-warning">
                      <i class="bi bi-x-circle"></i> Đóng
                  </button>
              </div>
          </div>
      </div>
      <div class="mt-3">
          <form [formGroup]="orderTypeForm" (ngSubmit)="onEdit()">
              <div>
                  <label for="inputText" class="col-form-label">Mã</label>
                  <div>
                      <input  type="text"
                          class="form-control" formControlName="code">
                  </div>
              </div>
              <div>
                  <label for="inputName" class="col-form-label">Đơn Hàng <span
                          class="text-danger ms-1">*</span></label>
                  <div>
                      <input [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" type="text"
                          class="form-control" formControlName="name">
                      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                          <div *ngIf="f['name']['errors']['required']">Không được để trống</div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
