<form>
    <div class="mb-3">
        <label for="inputText" class="col-form-label">Mã đơn vị<span class="text-danger ms-1">*</span></label>
        <div>
            <input [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" type="text" class="form-control"
                formControlName="code">
            <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
                <div *ngIf="f['code']['errors']['required']">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="col-form-label">Tên đơn vị<span class="text-danger ms-1">*</span></label>
        <div>
            <input [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" type="text" class="form-control"
                formControlName="name">
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name']['errors']['required']">Không được để trống</div>
            </div>
        </div>
    </div>
</form>