.list-container {
    height: auto;
    max-height: calc(100vh - 190px);
    max-width: 100%;
    overflow: auto;
    .selected {
        td {
            background: rgba(0, 0, 0, 0.075);
        }
    }
}

table {
    width: 100%;
}