<div class="main-login">
    <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center box-login">
                    <div class="card mb-3 card-login">
                        <div class="card-body">
                            
                            <div class="pt-4 pb-2" style="margin-bottom: 40px;">
                                <img src="../assets/img/logo.png" style="margin: 0px 34%;width: 32%;">
                                <!-- <h5 class="card-title text-center pb-0 fs-4">HỆ THỐNG QUẢN TRỊ SẢN XUẤT KINH DOANH</h5> -->
                            </div>

                            <form class="row g-3 needs-validation" (ngSubmit)="login()" novalidate>

                                <div class="col-12">
                                    <label for="yourUsername"  class="form-label">Tên đăng nhập</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i
                                                class="bi bi-person-fill"></i></span>
                                        <input type="text" name="userName" class="form-control" id="yourUsername" [(ngModel)]="loginRequest.userName" (keyup.enter)="login()"
                                            required>
                                        <div class="invalid-feedback">{{'LOGIN_USERNAME_CHECK' | translate}}</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Mật khẩu</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key-fill"></i></span>
                                        <input type="password" name="password" class="form-control" id="yourPassword" [(ngModel)]="loginRequest.password" (keyup.enter)="login()"
                                            required>
                                        <div class="invalid-feedback">{{'LOGIN_PASSWORD_CHECK' | translate}}</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" value="true"
                                            id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Ghi nhớ</label>
                                    </div>
                                </div>
                                <div id="indeterminate-progress-bar-login">
                                    <div class="indeterminate-progress-bar__progress"></div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 mat-raised-button" color="primary" type="button" (click)="login()">Đăng Nhập</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
</div>