<div class="card">
    <div class="card-body">
        <div class="row" style="margin-right: 0">
            <div class="col-md-4 col-xs-12">
                <h5 class="card-title">
                    <i class="bi bi-person-lines-fill"></i>
                    Danh sách người dùng
                </h5>
            </div>

            <div class="col-md-8 col-xs-12 d-flex flex-row-reverse card-function">
                <div>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUser">
                        <i class="bi bi-plus-lg"></i> Thêm mới
                    </button>
                </div>
                <div>
                    <div class="input-group search-box">
                        <input type="text" class="form-control" placeholder="Tìm kiếm"
                            (keydown.enter)="searchUser($event)" />
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="listUser && listUser.length > 0" class="border-top">
            <table class="table table-hover" id="table-user">
                <thead>
                    <tr>
                        <th scope="col" style="width: 46px"></th>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col">Đơn vị</th>
                        <th scope="col" style="text-align: center">Trạng thái</th>
                        <th scope="col" style="text-align: center">Lịch sử</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listUser">
                        <td>
                            <img src="../../../../../assets/img/UserLogo.jpg" style="width: 100%; border-radius: 50%" />
                        </td>
                        <td [routerLink]="['/User', 'UserDetail', item.USER_NAME]">
                            {{ item.USER_NAME }}
                        </td>
                        <td [routerLink]="['/User', 'UserDetail', item.USER_NAME]">
                            {{ item.FULL_NAME }}
                        </td>
                        <td [routerLink]="['/User', 'UserDetail', item.USER_NAME]">
                            {{ item.TITLE_CODE }}
                        </td>
                        <td [routerLink]="['/User', 'UserDetail', item.USER_NAME]">
                            {{ item.COMPANY_ID }}
                        </td>
                        <td style="text-align: center" [routerLink]="['/User', 'UserDetail', item.USER_NAME]">
                            <span class="badge bg-success" *ngIf="item.ACTIVE == 'Y'"><i
                                    class="bi bi-check-circle me-1"></i> Hoạt động</span>
                            <span class="badge bg-danger" *ngIf="item.ACTIVE == 'N'"><i
                                    class="bi bi-exclamation-octagon me-1"></i> Khoá</span>
                        </td>
                        <td style="text-align: center">
                            <i class="bi bi-clock-history"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float: right">
                <ngb-pagination [pageSize]="filter.PageSize" [collectionSize]="filter.ItemCount"
                    [(page)]="filter.CurrentPage" [maxSize]="5" (pageChange)="onChangePage($event)"
                    aria-label="User pagination" class="pagination"></ngb-pagination>
            </div>
        </div>
    </div>
</div>