#table-user {
    width: calc(100vw - 300px);
}

.right-content {
    width: 50%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 50px;
    right: 0;
}
.card-body{
    margin-top: 50px;
}