<div class="card" style="margin-left: 300px">
  <div class="card-body">
    <div class="row" style="margin-right: 290px">
      <div class="col-md-4 col-xs-12">
        <h5 class="card-title">
          <i class="bi bi-person-lines-fill"></i>
          Danh sách người dùng
        </h5>
      </div>

      <div class="col-md-8 col-xs-12 d-flex flex-row-reverse card-function">
        <div>
          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#addUser"
            (click)="handleAdd()"
          >
            <i class="bi bi-plus-lg"></i> Thêm mới
          </button>
        </div>
        <div>
          <div class="input-group search-box">
             <input
              type="text"
              class="form-control"
              placeholder="Tìm kiếm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="PageInfo.Keyword"
              (ngModelChange)="onSearch($event)" />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="border-top">
      <table class="table table-hover" id="table-user">
        <thead>
          <tr>
            <th style="width: 50px; text-align: center">Stt</th>
            <th style="width: 200px">Nhóm</th>
            <th style="width: 200px">Tài khoản</th>
            <th>Tên</th>
            <th style="width: 100px; text-align: center">Trạng thái</th>
            <th style="width: 150px; text-align: center">-/-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lstdata.data; index as i">
            <td style="text-align: center">{{ i + 1 }}</td>
            <td [routerLink]="['/User', 'UserDetail', item.userName]">
              {{ showNameFunc(item.groupId) }}
            </td>
            <td [routerLink]="['/User', 'UserDetail', item.userName]">
              {{ item.userName }}
            </td>
            <td [routerLink]="['/User', 'UserDetail', item.userName]">
              {{ item.fullName }}
            </td>
            <td style="text-align: center">
              <img
                *ngIf="item.state"
                src="../../../../../assets/img/on.jpg"
                style="width: 25px; margin-top: -1px"
              />
              <img
                *ngIf="!item.state"
                src="../../../../../assets/img/off.jpg"
                style="width: 25px; margin-top: -1px"
              />
            </td>

            <td style="text-align: center">
              <i
                class="bi bi-pencil-square"
                style="font-size: 15px; cursor: pointer"
                (click)="openEdit(item.id)"
              ></i>
              &nbsp;
              <i
                class="bi bi-trash3"
                style="font-size: 15px; padding-left: 5px; cursor: pointer"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          <app-pagination
            [Pagination]="Pagination"
            (changePage)="onChangePage($event)"
          ></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
  <app-right-content 
        [isOpenForm]="openForm" 
        (closeForm)="oncloseForm($event)" 
        (Save)="onSave($event)" 
        *ngIf="openForm"
        [customerId] = "customerId"
        [isCreate]="isCreate"
  ></app-right-content>
