<div class="card pt-3">
    <div class="card-body">
        <div class="d-flex-wrap d-gap d-space-bw">
            <div class="card-title mb-2 p-0">
                <i class="bi bi-journal-text"></i>
                Danh sách Loại Sản Phẩm
            </div>
            <div class="d-flex-wrap d-gap">
                <div *ngIf="filter" class="mb-3">
                    <div class="input-group search-box">
                        <input type="text" class="form-control" [(ngModel)]="filter.keyWord" (keyup.enter)="search();"
                            placeholder="Nhập từ khóa tìm kiếm" />
                        <span (click)="search()" class="input-group-text"><i class="bi bi-search"></i></span>
                        <span (click)="search(1, filter.pageSize ,true)" class="input-group-text"><i
                                class="bi bi-arrow-clockwise"></i></span>
                        &nbsp;
                    </div>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-success" (click)="openCreate()">
                        <i class="bi bi-plus-lg"></i> Thêm mới
                    </button>
                </div>
            </div>
        </div>
        <div class="list-container border-top border-bottom mb-3">
            <table mat-table [dataSource]="paginationResult.data" *ngIf="paginationResult"
                class="table table-hover table-click-row">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef width="60px" class="align-center"> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="align-center">
                        {{(paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef width="150px"> Mã loại sản phẩm </th>
                    <td mat-cell *matCellDef="let element">
                        <span href="#" (click)="openEdit(element)"
                            class="cursor-pointer text-primary">{{element.code}}</span>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Tên loại sản phẩm </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef width="90px">Hành Động</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <i class="bi bi-trash3 text-danger cursor-pointer" (click)="deleteItemType(element)"></i>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="border-bottom"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="float-end" *ngIf="paginationResult">
            <app-pagination [pageSize]="paginationResult.pageSize" [totalRecord]="paginationResult.totalRecord"
                [totalPage]="paginationResult.totalPage" [(page)]="paginationResult.currentPage"
                (pageChange)="onChangePage($event)" (pageSizeChange)="pageSizeChange($event)"></app-pagination>
        </div>
    </div>
</div>