<header id="header" class="header fixed-top d-flex align-items-center" *ngIf="isUserAuthenticated();">

  <div class="d-flex align-items-center justify-content-between">
    <i class="bi bi-list toggle-sidebar-btn"></i>
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../assets/img/logo.png" alt="">
    </a>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <!-- Chuyển đổi ngôn ngữ -->
      <li class="nav-item">
        <div class="nav-link nav-icon">
          <img *ngIf="lang == 'vi'" src="../assets/img/vi.png" style="float: right;width: 26px;" (click)="switchLang('en')">
          <img *ngIf="lang == 'en'" src="../assets/img/en.png" style="float: right;width: 26px;" (click)="switchLang('vi')">
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li>

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="../assets/img/UserLogo.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>         

          <li class="dropdown-footer">
            <a href="#">Show all messages</a>
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="../assets/img/UserLogo.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{'HEADER_HELLO' | translate}}
            {{dataUser?.FULL_NAME}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{dataUser?.FULL_NAME}}</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li (click)="logOut()">
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Đăng xuất</span>
            </a>
          </li>
        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
    </ul>
  </nav><!-- End Icons Navigation -->
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" *ngIf="isUserAuthenticated();">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-house"></i>
        <span>{{'MNU_HOME' | translate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#po-dcch" data-bs-toggle="collapse">
        <i class="bi bi-journal-text"></i><span>Quản lý kinh doanh</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="po-dcch" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li><a routerLink="MasterData/Plant"><i class="bi bi-circle"></i><span>Chi tiết đơn hàng</span></a></li>
        <li><a routerLink="MasterData/Unit"><i class="bi bi-circle"></i><span>Danh sách đơn hàng</span></a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#master-data-nav" data-bs-toggle="collapse">
        <i class="bi bi-journal-text"></i><span>Danh mục</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="master-data-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li><a routerLink="ProjectProfile"><i class="bi bi-circle"></i><span>Khách hàng</span></a></li>
        <li><a routerLink="MasterData/Unit"><i class="bi bi-circle"></i><span>Đơn vị tính</span></a></li>
        <li><a routerLink="MasterData/Material"><i class="bi bi-circle"></i><span>Hàng hoá</span></a></li>
        <li><a routerLink="MasterData/Plant"><i class="bi bi-circle"></i><span>Kho xuất hàng</span></a></li>
        <li><a routerLink="MasterData/Vehicle"><i class="bi bi-circle"></i><span>Phương tiện</span></a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#setting-nav" data-bs-toggle="collapse">
        <i class="bi bi-gear"></i><span>Quản trị hệ thống</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="setting-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li><a routerLink="SystemManage/SystemConfig"><i class="bi bi-circle"></i><span>Cấu hình hệ thống</span></a></li>
        <li><a routerLink="SystemManage/Organize"><i class="bi bi-circle"></i><span>Cấu trúc tổ chức</span></a></li>
         
        <li>
          <a routerLink="SystemManage/Users">
            <i class="bi bi-circle"></i><span>Quản lý người dùng</span>
          </a>
        </li>
        <li>
          <a routerLink="UserGroup">
            <i class="bi bi-circle"></i><span>Quản lý nhóm người dùng</span>
          </a>
        </li>
        <li>
          <a routerLink="SystemManage/Right">
            <i class="bi bi-circle"></i><span>Quản lý hệ thống quyền</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#activity-nav" data-bs-toggle="collapse">
        <i class="bi bi-activity"></i><span>Hoạt động</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="activity-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="SystemManage/HistoryLogin"><i class="bi bi-circle"></i><span>Lịch sử đăng nhập</span></a>
        </li> 
        <li>
          <a routerLink="SystemManage/UserOnline"><i class="bi bi-circle"></i><span>Đang hoạt động</span></a>
        </li> 
          
      </ul>
    </li>
  </ul>
</aside>

<main id="main" class="main">
  <div id="alert-message"></div>
  <router-outlet></router-outlet>
</main>