<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content container-fluid" [ngClass]="openSidebar ? '' : 'full-width'">
            <app-drawer></app-drawer>
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
</div>