.wrapper {
  position: relative;
  .sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .main-panel {
    .content {
        position: absolute;
        right: 0px;
        width: calc(100% - 300px);
        top: 60px;
        padding: 20px;
        transition: width 0.3s ease-in-out;
        background: #f6f9fe;
        min-height: calc(100vh - 50px);
        &.full-width {
            width: 100%;
        }
    }
  }
}
